<div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
        <div class="seven wide column">
            <h4 class="ui inverted header">Plan du site</h4>
            <div class="ui inverted link list">
            </div>
        </div>
        <div class="nine wide column">
            <h4 class="ui inverted header">Création du site</h4>
            <p>Ce site a été réalisé dans le cadre d'un projet.</p>
            <p>Basé sur une seed AngularJS et mise en forme par <a href="http://semantic-ui.com/" title="Framework CSS" target="_blank">Semantic-UI</a> </p>
            <p>Voir le dépôt officiel : <a href="https://github.com/kevinhassan/webproject" target="_blank"><i class="github icon"></i></a></p>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img src="favicon.ico" class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Plan du site</a>
        <a class="item" href="#">Nous contacter</a>
        <a class="item" href="#">Termes & Conditions</a>
        <a class="item" href="#">Politique de vie privée</a>
        <div class="ui inverted section">
            <p>Kévin Hassan<i class="copyright icon"></i>2017</p>
        </div>
    </div>
</div>