<!-- Page Contents -->
<div class="ui inverted vertical masthead center aligned segment">
    <div></div>
    <h1 class="ui center aligned icon header" id="#mastheadHeader">
        <i class="loading soccer icon"></i>
        SportMatching
    </h1>
    <h2>Trouver une partie à côté de chez vous ?</h2>
    <h2>C'est desormais possible !!</h2>
    <div class="ui hidden divider"></div>
    <a class="ui huge green animated left labeled icon button" id="animatedArrow" ng-click="scrollTo('contenu')"><i class="arrow down icon"></i>En savoir plus</a>
</div>
<div class="ui vertical stripe segment" id="contenu">
    <div class="ui two column stackable centered grid">
        <div class="column"></div>
        <div class="four column centered row">
            <div class="column">
                <h3 class="ui blue centered header">Notre vocation </h3>
                <p>En finir avec la recherche d'un terrain de sport à proximité de chez soi !</p>
                <p>Mais surtout motiver les membres de la plateforme à faire une activité sportive en leur donnant la possiblité
                    d'organiser des parties de <strong>football</strong> ou de <strong>basket</strong>.</p>
            </div>
            <div class="column">
                <h3 class="ui blue centered header">Communautaire</h3>
                <p>Tout comme une équipe c'est la communauté qui fera vivre ce site!</p>
                <p>En effet, les membres pourront géolocaliser des terrains de sport quelque soit la ville.</p>
            </div>
        </div>
    </div>
</div>


<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3 class="ui grey header">"Mais quel site !"</h3>
                <p>C'est ce que tout le monde dit de nous</p>
            </div>
            <div class="column">
                <h3 class="ui grey header">"Avec cette plateforme, on organise un match en 2 secondes !"</h3>
                <p>
                    <img src="assets/img/profile.png" class="ui avatar image" alt="image de profil">Kévin Hassan
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">

</div>

<div class="ui vertical stripe quote segment">
</div>
