<div class="ui main container">
    <h1 class="ui center aligned icon header">
        <i class="dashboard icon"></i>
        <div class="content">
            Dashboard
            <div class="sub header">Gestion des utilisateurs et des terrains<div>
        </div>
    </h1>
    <div class="ui horizontal divider">

    </div>
    <div class="ui stackable equal width centered grid">
        <div class="row">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui blue button" href="#dashboard/villes">Gérer les terrains</a>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/soccer-field.png" alt="ballon de football">
                    </div>
                    <div class="content">
                        <div class="header"></div>
                        <div class="description">
                            Gérer les villes, les terrains et les parties organisées.
                        </div>
                    </div>
                    <a class="ui blue bottom attached button" href="#dashboard/villes">
                        <i class="setting icon"></i>
                        Gérer les terrains
                    </a>
                </div>
                <div class="ui vertical divider"></div>
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <a class="ui blue inverted button" href="#dashboard/utilisateurs">Gérer les utilisateurs</a>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/users.png" alt="image utilisateur">
                    </div>
                    <div class="content">
                        <div class="header"></div>
                        <div class="description">
                            Gérer les utilisateurs et les administrateurs du site.
                        </div>
                    </div>
                    <a class="ui blue bottom attached button" href="#dashboard/utilisateurs">
                        <i class="setting icon"></i>
                        Gérer les utilisateurs
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>