<div class="ui main container">
    <h1 class="ui center aligned icon header">
        <i class="circular inverted red user icon"></i>
        <div class="content">
            <div class="ui horizontal divider">Gestion des utilisateurs</div>
        </div>
    </h1>
    <div class="ui stackable equal width centered grid">
        <div class="row">
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Rechercher...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <table class="ui red inverted tablet center aligned unstackable selectable table">
                <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Administrateur</th>
                </tr>
                </thead>
                <tbody ng-repeat="utilisateur in utilisateurs">
                <tr>
                    <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox" ng-value="utilisateur.id" class="selectUtilisateur" ng-model="utilisateur.selected"> <label></label>
                        </div>
                    </td>
                    <td>{{utilisateur.nom}}</td>
                    <td>{{utilisateur.prenom}}</td>
                    <td>{{utilisateur.mail}}</td>
                    <td class="collapsing">
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="utilisateur.est_admin" ng-checked="utilisateur.est_admin" ng-click="changePermissions(utilisateur.id,utilisateur.est_admin)">
                            <label></label>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th colspan="16">
                            <div class="ui left aligned white inverted tiny button" ng-click="supprimerUtilisateurs()">
                                Supprimer
                            </div>
                            <div class="ui tiny button" ng-click="selectAll()" id="selectAll">
                                Selectionner tout
                            </div>
                            <div class="ui tiny disabled button" ng-click="deselectAll()" id="deselectAll">
                                Deselectionner tout
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="ui center aligned text container buttonDashboard-return">
    <a class="ui green left labeled icon huge button" href="#dashboard">
        <i class="left arrow icon"></i>
        Revenir sur le Dashboard
    </a>
</div>
