<div class="ui main container">
    <h1 class="ui center aligned icon header">
        <i class="circular inverted blue building icon"></i>
        <div class="content">
            <div class="ui horizontal divider">Gestion des villes</div>
        </div>
    </h1>
    <div class="ui stackable equal width centered grid">
        <div class="row">
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Rechercher...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <table class="ui blue inverted tablet center aligned unstackable selectable table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody ng-repeat="ville in villes">
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted slider checkbox">
                                <input type="checkbox" ng-model="ville.selected" ng-value="ville.id"> <label></label>
                            </div>
                        </td>
                        <td ng-click="selectVille(ville.id)">{{ville.nom}}</td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th colspan="16">
                            <div class="ui left aligned white inverted tiny button" ng-click="supprimerVilles()">
                                Supprimer
                            </div>
                            <div class="ui tiny button" ng-click="selectAll()" id="selectAll">
                                Selectionner tout
                            </div>
                            <div class="ui tiny disabled button" ng-click="deselectAll()" id="deselectAll">
                                Deselectionner tout
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <div class="ui attached info message"><i class="info icon"></i> Cliquez sur la ville pour afficher ses terrains</div>
        </div>
    </div>
</div>
<div class="ui center aligned text container buttonDashboard-return">
    <a class="ui green left labeled icon huge button" href="#dashboard">
        <i class="left arrow icon"></i>
        Revenir sur le Dashboard
    </a>
</div>